---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Lumber and Timber",
    description:
      "Build with precision using our standardized lumber, perfect for a variety of construction and carpentry projects.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Structural Components/EWP",
    description:
      "Ensure robust structural support with our high-quality timbers, designed to meet the demands of your construction projects.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Insulation and Weatherproofing",
    description:
      "Choose reliability and versatility with our plywood selection, ideal for various construction and woodworking applications.",
    icon: "bx:bxs-user",
  },
  
  {
    title: "James Hardie Siding",
    description:
      "Discover the strength and versatility of OSB, a dependable choice for various construction applications.",
    icon: "bx:bxs-user",
  },
  {
    title: "Specialized Lumber Products",
    description:
      "Create stunning outdoor spaces with our durable cedar decking, offering both beauty and resilience against the elements.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Hardware and Fasteners",
    description:
      "Enhance the aesthetics and durability of your exteriors with our premium cedar siding and trims, showcasing the natural beauty of cedar wood.",
    icon: "bx:bxs-window-alt",
  },
  
];
---
<div class="grid lg:grid-cols-2 sm:grid-cols-1 mt-4 gap-16">
<div class="mt-4 md:mt-0 ">
  <h2 class="text-2xl lg:text-5xl font-bold lg:tracking-tight">
   Quality Materials
  </h2>
  
  <p class="text-lg mt-4 text-slate-600 upperca">
Uresco is your dependable source for quality materials to get the job built.
  </p>
     <a class="float-right hover:cursor-pointer hover:drop-shadow-lg hover:underline">Learn more</a>
</div>
<div class="mt-4 md:mt-0 ">
  <h2 class="text-2xl lg:text-5xl font-bold lg:tracking-tight">
   Trusted service
  </h2>
  
  <p class="text-lg mt-4 text-slate-600">
  Uresco specializes in remote site delivery. We can work with you on all aspects of shipping coordination, dock delivery and rural Alaska delivery.
  </p>
  <a class="float-right hover:cursor-pointer hover:drop-shadow-lg hover:underline">Learn more</a>
</div>
</div>



<!-- Add specific sub categories (list) to products and services -->
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <ul><h3 class="font-semibold text-lg">{item.title}</h3>{" "}</ul>
          <li class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
