---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Framing/Lumber",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Plywood/OSB",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Insulation",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
    icon: "bx:bxs-data",
  },
  {
    title: "Drywall",
    description:
      "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Roofing",
    description:
      "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Siding",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---
<div class="grid lg:grid-cols-2 sm:grid-cols-1 mt-4 gap-16">
<div class="mt-4 md:mt-0 ">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
   Quality Materials
  </h2>
  
  <p class="text-lg mt-4 text-slate-600">
Uresco is your dependable source for quality materials to get the job built.
  </p>
     <a class="float-right hover:cursor-pointer">learn more</a>
</div>
<div class="mt-4 md:mt-0 ">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
   Trusted service
  </h2>
  
  <p class="text-lg mt-4 text-slate-600">
  Uresco specializes in remote site delivery. We can work with you on all aspects of shipping coordination, dock delivery and rural Alaska delivery.
  </p>
   <a class="float-right hover:cursor-pointer">learn more</a>
</div>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
